<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appl-dev-id</key>
	<string>Developer ID Installer: macDevPlaceHolder (XYZ123456)l</string>
	<key>appl-dev-account</key>
	<string>jane.appleseed@mac.com</string>
	<key>appl-dev-keychain-item</key>
	<string>APPLE_DEV_auto-erase-install-coderteam</string>
</dict>
</plist>
